
/* Header Navbar */
.header nav a img{
    width: 60%;
}
.header nav{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}
.header nav .links ul{
display: flex;
list-style: none;
}
.header nav .links .shop a i{
    font-size: 30px;
    margin-top: -5px;
}
.header nav .links .shop a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}
.header nav .links .shop a span{
    align-self: flex-end;
}
.header nav .links ul .item1 a{
    color: #043b5f;
    font-size: 19px;
}
.header nav .links ul .top{
    padding-top: 15px;
}
.header nav .links ul .item1 a:hover{
    color:#dc3545 ;
}
.header nav .links ul .item2 button a{
    color: white;
}
.header nav .links ul .item2 button {
    margin-left: 15px;
    float: right;
}
.header nav .links ul .profile a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.header nav .links ul .profile a:hover{
    text-decoration: none;
    color: #dc3545;
}
.header nav .links ul .profile a:hover span{
    color: #dc3545;
}
.header nav .links ul .profile a:hover i{
    color: #dc3545;
}
.header nav .links ul .profile a i{
    color: #043b5f;
    margin: 10px 5px 0 10px;
}
.header nav .links ul .profile a span{
   color: #043b5f;
   margin-top: -20px;
   
}


/* Main */
.main{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 200px;
}
.main .sidebar{
    flex-grow: 1;
    margin-right: 50px;
    border: 3px #043b5f solid;
    background-color: #043b5f;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 350px;
}
.main .sidebar a{
    color: white;
    font-size: 20px;
    margin: 20px;
    padding-top: 30px;
}
.main .sidebar a:hover{
    text-decoration: none;
    color: #dc3545;
}
.main .sidebar .active{
    color: #dc3545;
}
.main .mainsection{
flex-grow: 4;
border: 3px #043b5f solid;
padding-bottom: 30px;
}
.main .mainsection a{
    color: #dc3545;
    border: 2px solid #043b5f;
    font-size: 20px;
    width: 70px;
    padding: 5px 30px 5px 30px;
    margin-left: 100px;
}
.main .mainsection table{
    width: 100%;    
}
.main .mainsection table tr{
    border: 2px solid #043b5f;
}
.main .mainsection table td{
    border: 2px solid #043b5f;
    color: #043b5f;
}
.main .mainsection table th{
    border: 2px solid #043b5f;
    color: #dc3545;
}


/* Footer */
.footer{
    height: 200px;
    width: 100%;
    background-color: #043b5f;
    padding: 5%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
    .footer .social-media h3{
        color: white;
        padding-bottom: 20px;
    }
    .footer .social-media .linkat{
        display: flex;
        
        justify-content: start;
    }
    .footer .social-media .linkat a i:hover{
        color: #dc3545;
    }
    .footer .social-media .linkat a {
        padding-left:20px ;
    }
.footer .payment-method h3{
 color: #fff;  
 padding-bottom: 20px; 
}
.footer .payment-method .linkat{
    display: flex;
    
    justify-content: start;
}
.footer .payment-method .linkat a {
    padding-left:20px ;
}
.footer .payment-method .linkat a i:hover{
    color: #dc3545;
}